*{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 6px;
}
table{
	border-collapse: collapse;
}
th{
	text-align: center;
	font-weight: normal;
}
table, th, td {
	vertical-align: middle;
}
.principal{
	margin: 0 0 50px;
}
.anteriores, .anteriores th, .ant{
	border: 1px solid black;
}

.info{
	float: left;
	width: 95%;
	font-size: 10x;
	font-weight: bold;
	height: 20px;
	margin: 10px 20px;
}

.distancia{
	float: right;
	font-size: 16px;
	margin: 20px 10px 0 0;
	font-weight: bold;
}

.fecha{
	font-size: 12px;
}
.numcar {
	font-size: 12px;
	font-weight: bold;
}
.hip{
	float: left;
    font-size: 16px;
    width: 200px;
}